@model BookMarked.Models.Comment.CommentDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comment Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentContent)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
