@model IEnumerable<BookMarked.Models.Comment.CommentListItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comment Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CommentId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CommentId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CommentId })
            </td>
        </tr>
}
    </tbody>
</table>
