@model IEnumerable<BookMarked.Models.Review.ReviewListItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewContent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
                <form method="get" asp-controller="Comment" asp-action="Create">
                    <button class="btn-dark">Leave a Comment!</button>
                    <input type="hidden" name="reviewId" value=@item.ReviewId />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
