@model IEnumerable<BookMarked.Models.Rating.RatingListItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RatingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRead)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RatingId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RatingId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RatingId }) |
                <form method="get" asp-controller="Review" asp-action="Create">
                    <button class="btn-dark">Review this book!</button>
                    <input type="hidden" name="VolumeId" value=@item.VolumeId />
                    <input type="hidden" name="RatingId" value=@item.RatingId />
                    <input type="hidden" name="volumeTitle" value=@item.VolumeTitle >
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
